/* ----Start About----  */

.img-about {
  width: 100%;
  height: 500px;
  background-image: url(../img/about-img.jpg);
  /* border-radius: 20px; */
  background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.about iframe {
  width: 100%;
  height: 500px;
}

header {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 60px;
}

header small {
  font-size: 15px;
  color: #2c7ae7;
}
header h2 {
  font-size: 40px;
  font-weight: bold;
}

.about-descrption {
  padding-bottom: 40px;
}
.about-descrption h2 {
  font-weight: bold;
}
.about-descrption p {
  margin: 25px 0;
}
/* ----End About----  */
/* ----Start Map----  */
.about iframe {
  width: 100%;
  height: 500px;
}
/* ----End Map----  */
/* ----Start FromSection----  */
.form-about {
  margin-top: 100px;
  background-color: black;
  padding: 30px;
}
.form-about input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.form-about input:focus,
.form-about textarea {
  outline: none;
}
.form-about textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
}
.form-about .form-btn {
  margin: auto;
  background-color: #c06121;
  border: none;
  padding: 6px 25px;
  border-radius: 3px;
  color: #fff;
}

.form-about .form-btn:active {
  border: 1px solid #c06121;
  background-color: transparent;
}
/* ----end FromSection----  */

/* ----Start About-US----  */
#mainCont_About2{
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  background-color: #fcf8f8fa;
  /* padding-top: 3%; */
  padding-bottom: 3%;
}
#mainCont_About2_left{
  width: 600px;
  padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
#mainCont_About2_left_title{
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  color: #5656d1;
  padding: 20px;
  /* width: 50%; */
  margin-bottom: 3%;
}
#mainCont_About2_right{
  display: flex;
  flex-direction: column;
  width: 600px;
  padding: 10px;
}
.cont_imgs {
  margin-top: 60px;
}
.cont_img img {
  width: 100%;
  height: 100%;
}
.cont_imgs .cont_img {
  border-radius: 10px;
  overflow: hidden;
}
.cont_imgs .one{
  top:0;
  animation: move_one 4s 0s linear infinite;
}
.cont_imgs .two{
  top: 182px;
  right: 8px;
  animation: move_two 4s  2s linear infinite;
}
.cont_imgs .three{
  top:250px;
  animation: move_three 4s 2s linear infinite;
}
.cont_imgs .four{
  top:15px;
  animation: move_four 4s 0s linear infinite;
}

@keyframes move_one {
  0%{
      transform:translate(0,-10px)
  }
  50%{
      transform:translate(0,-40px)
  }
  100%{
      transform:translate(0,-10px)
  }
}

@keyframes move_two {
  0%{
      transform:translate(0,-10px)
  }
  50%{
      transform:translate(0,-40px)
  }
  100%{
      transform:translate(0,-10px)
  }
}
@keyframes move_three {
  0%{
      transform:translate(0,-10px)
  }
  50%{
      transform:translate(0,-60px)
  }
  100%{
      transform:translate(0,-10px)
  }
}
@keyframes move_four {
  0%{
      transform:translate(0,-10px)
  }
  50%{
      transform:translate(0,-70px)
  }
  100%{
      transform:translate(0,-10px)
  }
}




.about{
  background-color: #fff;
}
.about-us {
  background-color: #f0f4f8;
  padding-top: 100px;
}

.about-us h2 {
  font-weight: bold;
}
.about-us .item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
}
.about-us .item .item-count {
  margin-top: 5px;
  color: #2c7ae7;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
.about-us .item .item-count::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 41px;
  background-color: black;
  top: 50%;
  left: 118%;
}
.item-info {
  margin-left: 50px;
}
.item-info h2 {
  margin-bottom: 25px;
}
.item-info p {
  line-height: 1.8;
}
/* ----end About-US----  */
/* ---- start Team Section----  */

.team-section .item img {
  width: 100%;
}

.team-section .item {
  border-radius: 20px;
}
.item-des {
  text-align: center;
}
.team-section .team-info {
  text-align: center;
  position: relative;
}
.social-media {
  position: absolute;
  top: -46px;
  right: 54px;
  visibility: hidden;
  transform: translatey(0);
  transition: all 0.5s ease;
}
.team-section .card:hover .social-media {
  visibility: visible;
  transform: translatey(20px);
}
.social-media svg {
  margin-right: 10px;
  font-size: 30px;
  background-color: #2c7ae7;
  padding: 7px 8px;
  color: #fff;
  border-radius: 5px;
  transition: all 400ms ease;
}
.social-media svg:hover {
  background-color: transparent;
  color: #2c7ae7;
  border: 1px solid #2c7ae7;
}
.team-section .card {
  transition: all 0.25s;
}
.team-section .card:hover {
  box-shadow: 0.125rem 0.25rem 1.25rem 0.0875rem rgb(45 45 45 / 13%);
  border: 0;
}
@media screen and (max-width: 960px) {
  .team-section .card {
    margin-bottom: 25px;
  }
  .social-media {
    top: -53px;
    right: 95px;
  }
  .social-media svg {
    margin-right: 12px;
    font-size: 36px;
  }
}
/* ---- End Team Section----  */
