#creative_title{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    padding: 20px 0 20px 0;
    color: #10a2b3;
}

#creative_slider{
    width: 100%;
    height: 10px;
    background-color: #efe4e6;
    border-radius: 50px; 
    /* animation: mymove 5s ; */
    /* animation-fill-mode: forwards;   */
}
#creative_slider1{
    width: 100%;
    height: 10px;
    border-radius: 50px; 
    animation: mymove 5s ;
    animation-fill-mode: forwards;  
}
@keyframes mymove {
    from {width: 0px;}
    to {width: 95%;
        background-color: #7f1f8a;
    }
  }
  #creative_slider2{
    width: 100%;
    height: 10px;
    border-radius: 50px; 
    animation: mymove2 5s ;
    animation-fill-mode: forwards;  
}
@keyframes mymove2 {
    from {width: 0px;}
    to {width: 70%;
        background-color: #87648b;
    }
  }
  #creative_slider3{
    width: 100%;
    height: 10px;
    border-radius: 50px; 
    animation: mymove3 5s ;
    animation-fill-mode: forwards;  
}
@keyframes mymove3 {
    from {width: 0px;}
    to {width: 85%;
        background-color: #df7beb;
    }
  }
  #creative_slider4{
    width: 100%;
    height: 10px;
    border-radius: 50px; 
    animation: mymove4 5s ;
    animation-fill-mode: forwards;  
}
@keyframes mymove4 {
    from {width: 0px;}
    to {width: 50%;
        background-color: #ec43ff;
    }
  }
#main_creative{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 70px 0;
    justify-content: center;
    width: 100%;
    background-color: #fff;
}
#inner_creative{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: center;
    width: 90%;
  
}
#main_parallex{
    background-image: url(../img/h-main-parallax-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px;
    height: 100%;
    z-index: 10;
}
#min1_home1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #000;
}
#mainCont1 {
    max-width: 1800px;
    width: 100%;
}
#abou_sh a {
    color: #fff;
}

#abou_sh a:hover {
    color: #2876e2;
    text-decoration: #2876e2;
    transition-duration: '.3s';
    transition-timing-function: 'linear';
}

.homeBgbimg {
    background-image: url(../img/intro-img6.jpg);
    width: 100%;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
/* position: absolute; */
}

#homeBgMainDiv {
    position: relative;
    top: 180px;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#homeBgMainP1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    width: 50%;
}

#btn {
    margin-right: 1.25rem;
    margin-bottom: 1.25rem;
}

#getInbtn {
    position: relative;
    z-index: 1;
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
    background-color: #10a2b3;
    background: linear-gradient(to right,#10a2b3 0,#1ad3e9 100%);
}

#btn #getInbtn::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* border-radius: 50px; */
    background-color: #10a2b3;
    background: linear-gradient(to right,#1ad3e9 0,#10a2b3 100%);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    transition: all 400ms ease-in-out;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}

.btn.btn-border>i,
.btn.btn-border>span,
.btn.btn-border>svg {
    position: relative;
    z-index: 1;
}

#btn {
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    font-family: 16px;
    color: #000;
    fill: #fff;
    text-decoration: none;
    padding: .75em 1.75em;
    border-radius: .375rem;
    outline: 0;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: all .25s;
    width: 230px;
}
#btn:hover {
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}
#btn #getInbtn:hover::before {
    transform: scaleY(1);
    color: #fff;
}
#downHeaderNavContiner{
    margin-top: 600px;
}
#ServicesContainer{
    width: 100%;
    background-color: #fff;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
    padding-top: 5%;
}
#ProjectContainer{
    width: 100%;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
  
}
#mainServices{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    /* margin-top: 5%; */
}
#MainCardServices{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 350px;
    box-shadow: 0px 0px 3px 0px #646464;
    border-radius: 5px;
    position: relative;
    margin: 10px;
}
.hometab-heading {
    font-size: 35px;
    font-weight: bold;
    padding-bottom: 10px;
    /* line-height: 111px; */
    /* border: 5px solid #a6aaff; */
    /* border: solid; */
    color: #7f1f8a;
    margin-bottom: 20px;
    border-bottom: 2px solid #a563ad;
}
#img_CardServices{
    width: 100px;
    height: 100px;
    background-color: #10a2b3;
    background: linear-gradient(to right,#10a2b3 0,#1ad3e9 100%);
    color: #fff;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#img_CardServices2{
    position: absolute;
    left: -2rem;
    top: 2rem;
    z-index: 1;
    opacity: 0;
    color: #fff;
    fill: #fff;
    transition: all .25s .1s;
}

#title_CardServices{
    font-size: 25px;
    font-weight: 700;
    line-height: 75px;
}
#desc_CardServices{
    text-align: center;
    padding: 10px;
    color: #706f6f;
}
#MainCardServices:hover{
    background-color: #10a2b3;
    background: linear-gradient(to right,#10a2b3 0,#1ad3e9 100%);
    color: #fff;
    border-color: transparent;
    box-shadow: 0.125rem 0.25rem 1.25rem 0.0875rem rgb(45 45 45 / 13%);
   cursor: pointer;
}
#MainCardServices:hover #img_CardServices2{  
    opacity: 0.14; 
}
#MainCardServices:hover #desc_CardServices{ 
    color: #fff;
}
#MainCardServices:hover #img_CardServices{ 
    color: #10a2b3;
    background-color: #fff;
    background: linear-gradient(to right,#dfe1e6 0,#c5c7ca 100%);
}
#servicesImg2{
    font-size: 400px;
}
.whyUsCont{
    width: 100%;
    background-color: #f0f4f8;
    /* padding-top: 5%; */
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whyUsTitle{
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    padding: 20px;
}
.whyUsMain{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.whyUsMainCard{
    position: relative;
    display: flex;
    align-items: flex-start;
    margin: 20px;
    width: 300px;
}
.advantages-item-count{
    font-size: 1.0625rem;
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    color: #2c7ae7;
    margin-top: .125rem;
    position: relative;
    z-index: 1;
    padding-right: .3125rem;
}
.advantages-item-count::after {
    content: "";
    position: absolute;
    left: 100%;
    top: 50%;
    width: 3.25rem;
    height: 1px;
    background-color: #303036;
    margin-top: -1px;
}
.advantages-item-info{
    position: relative;
    z-index: 1;
    padding-left: 3.75rem;
}
.advantages-item-title{
    font-size: 25px;
    font-weight: 700;
}
#mainCardProject{
    margin: 12px;
    border-radius: 10px; 
}
#card{
    height: 400px;
    width: 500px;
    background-color: #95989b;
    overflow: hidden;     
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;    
    word-wrap: break-word;   
    background-clip: border-box;
}
#card #imgBox,
#card #details{
    width: 100%;
    height: 400px;
    position: absolute;
    box-sizing: border-box;
    transition: 0.5s;
}
#card #imgBox{
    top:0;
    left:0;
}

#card:hover #imgBox{
    top:0;
    left:-100%;
    cursor: pointer;
}
#card #imgBox img{
    width:100%;
    height: 400px;
    /* border-radius: 10px; */
}

#card #details{
    top:0;
    left:100%;
    height: 100%;
}
#card:hover #details{
    top:0;
    left:0;
    cursor: pointer;
}
#details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
/* #details div{
    margin: 5px 15px 0px 25px;
} */
#project_title{
    color: rgb(26 70 124);
    font-size: 20px;
    font-weight: 600;
    background-color: #e1e4e7;
    padding: 10px;
}
#projectIcon{
    height: 65px;
    width: 65px;
    border: 2px solid;
    border-radius: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    font-size: 10px;
}
#project_bgb{
  background-color: #fff;
}
#project_bgb2{
    background-image: url(../img/mj22.jpg);
    /* background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
 min-height: 600px; */
 width: 100%;
 height: 70vh;
}
#teamHomeSection{
    background-image: url(../img/download.jpg);
min-height: 600px;
}
#logoBgb{
    background-color: #fff;
}
#aboutTitleTeam{
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
     
      padding-top: 5%;
  }
/*////////////*Contact Us */
#sectionContactBgImg {
    background-image: url(../img/lap.jpg);
    min-height: 80vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #contactHeader_bgb{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
  }
  #p1ss {
    color: rgb(127 31 138);
    font-size: 40px;
    line-height: 57px;
    font-weight: 700;
  }
  #contacthome {
    /* margin-top: 10%; */
    padding-top: 5%;
    background-color: #fffdfd;
    /* color:#346BAE; */
    height: 100%;
    padding-bottom: 3%;
  }
  #contactpage {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  #maprow {
    width: 90%;
  }
  #gmap_canvas {
    text-align: right;
    height: 356px;
    width: 100%;
    overflow: hidden;
    background: none;
    padding-top: 20px;
  }
  #contactrow {
    width: 90%;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    color: #d37541;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .contactMainCard{
    width: 300px;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    height: 252px;
    margin: 10px;
  }
  .contactMainCard:hover{
  box-shadow:0 0 9px 0px #a5a0a0;
  }
  #sarstylefont {
    font-size: 45px;
    font-weight: 500;
    line-height: 30px;
    color: #10a2b3;
  }
  #contactTextAdd {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  #contactMainForm {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #contactMainForm_slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    /* background-color: #e1dcd1; */
    background-image: url(../img/app-background.jpg);
    border-radius: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #contact_main_slide{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
  }
  #textstyle {
    padding-left: 10px;
    height: 50px;
  }
  #area {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #BtnContactUSHome {
    width: 150px;
    height: 50px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    border: none;
    background-color: rgb(127 31 138);
    cursor: pointer;
    color: #fff;
  }
  
  #BtnContactUSHome:hover {
    border: 2px solid rgb(127 31 138);
    background-color: #fff;
    color: rgb(127 31 138);
    transform: scale(1.05);
    transition-duration: 0.5s;
    transition-timing-function: linear;
  }
  
  #BtnContactUSHome:active {
    border: none;
    background-color: rgb(127 31 138);
    color: #fff;
    transform: scale(1);
    transition-duration: 0.2s;
    transition-timing-function: linear;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .side_text{
      color: #fff;
  }
  .laptop-img{
    width: 118vh;
    height: 58.5vh;
    position: absolute;
    right: 6.3vh;
    top: 25.5vh;
    z-index: 2;
  }
  video {
    width: 92vh;
    height: 58.5vh;
    position: absolute;
    right: 19.3vh;
    top: 22.5vh;
    z-index: 1;
}
  @media (min-width: 800px) {
    #aboutTitleTeam{
        margin-bottom: 15%;
    }
  }
  @media screen and (max-width: 1024px){
.laptop-img {
    top: 22% ;
    width: 52% ;
    height: 43.5% ;
    overflow: hidden;
    right: 8% ;
}
video {
    width: 40% ;
    height: 52.5% ;
    right: 14% ;
    top: 16.5% ;
    overflow: hidden;
}
}
@media (max-width: 799px) {
    .laptop-img {
        top: 27% ;
        right: 3% ;
        width: 50% ;
        height: 31.5% ;
    }
    video {
        right: 8% ;
        top: 14.5% ;
    }
    #card{
        width: 400px;
    }
    #aboutTitleTeam{
        margin-bottom: 30%;
            }
    #homeBgMainDiv{
        width: 65%;
    }
    #homeBgMainP1{
        width: 65%;
    }
    #servicesImg2{
        font-size: 250px;
    }
  }
  @media (max-width: 500px) {
    .laptop-img {
        top: 27% ;
        right: 3% ;
        width: 77% ;
        height: 26.5% ;
    }
    video {
        right: 0% ;
        top: 29.5% ;
        width: 352px;
        height: 123px;
    }
  }
  @media (max-width: 375px) {
    #card{
        width: 300px;
    }
    #aboutTitleTeam{
        margin-bottom: 50%;
            }
    #homeBgMainDiv{
        width: 85%;
    }
    #homeBgMainP1{
        width: 85%;
    }
    #servicesImg2{
        font-size: 250px;
    }
    .laptop-img {
        top: 32% ;
        right: 5% ;
        width: 74% ;
        height: 16.5% ;
    }
    video{
        right: 13% ;
        top: 30.5% ;
            width: 58% ;
    height: 17.5% ;
    } 
  }