.tractor-main-slider .owl-item.active .tractor-single-slider h1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
.tractor-single-slider h1 span {
  color: #ffab00;
}
.tractor-main-slider .owl-item.active .tractor-single-slider #font_slide {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
.tractor-single-slider #font_slide span {
  color: #ffab00;
}
.tractor-single-slider p {
  color: #fff;
  font-size: 18px;
  margin: 20px 0 33px 0;
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.tractor-main-slider .owl-item.active .tractor-single-slider p {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1500ms;
  -moz-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  transition-delay: 1500ms;
}
.tractor-single-slider .btn {
  margin: 0 7px;
}
.tractor-single-table {
  display: table;
  height: 100%;
  width: 100%;
}
.tractor-single-tablecell {
  display: table-cell;
  vertical-align: middle;
}
.tractor-main-slider .owl-nav button {
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  text-align: center;
  line-height: 65px !important;
  font-size: 30px !important;
  background: #484848 !important;
  border-radius: 50%;
  color: #fff !important;
  width: 70px;
  height: 70px;
  opacity: 0.5;
}
.tractor-main-slider .owl-nav button.owl-next {
  left: auto;
  right: 15px;
}
.tractor-main-slider .owl-nav button:hover {
  background: #ffab00 !important;
  opacity: 1;
}

.tractor-single-slider {
  background-position: center center;
  background-size: cover;
  color: #fff;
  height: 650px;
  position: relative;
}
.tractor-single-slider .img-fluid4 {
  z-index: -1;
  position: absolute;

  width: 100%;
  height: 100%;
}
.tractor-single-slider:before {
  content: "";
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  /* background-image: url(./assets/img/app-background.jpg); */
  background: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0.87) 0%,
    rgba(0, 0, 0, 0.87) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0.87) 0%,
    rgba(0, 0, 0, 0.87) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background: linear-gradient(
    to right,
    rgb(0 0 0 / 64%) 0%,
    rgba(0, 0, 0, 0.87) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de000000', endColorstr='#00000000',GradientType=1 );
}
.tractor-single-slider h1 {
  color: #fff;
  font-size: 55px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 80px;
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transform: translateY(-100px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.tractor-main-slider .owl-item.active .tractor-single-slider h1 {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
.tractor-single-slider h1 span {
  color: #ffab00;
}
.tractor-main-slider .owl-item.active .tractor-single-slider #font_slide {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
.tractor-single-slider #font_slide span {
  color: #ffab00;
}
.tractor-single-slider p {
  color: #fff;
  font-size: 18px;
  margin: 20px 0 33px 0;
  opacity: 0;
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
  transform: translateY(100px);
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.tractor-main-slider .owl-item.active .tractor-single-slider p {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1500ms;
  -moz-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  transition-delay: 1500ms;
}
.tractor-single-slider .btn {
  margin: 0 7px;
}
.tractor-single-table {
  display: table;
  height: 100%;
  width: 100%;
}
.tractor-single-tablecell {
  display: table-cell;
  vertical-align: middle;
}
#main_row_slide {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
}
#first_col_slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
}
.tractor-main-slider .owl-item.active .tractor-single-slider #font_slide {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition-delay: 1000ms;
  -moz-transition-delay: 1000ms;
  -ms-transition-delay: 1000ms;
  -o-transition-delay: 1000ms;
  transition-delay: 1000ms;
}
.tractor-single-slider #font_slide span {
  color: #ffab00;
}
#main_bg_img {
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
  /* height: 100%; */
  /* position: absolute; */
}
#img2 {
  /* position: absolute; */
  /* width: 40%; */
  /* bottom: -94px; */
  z-index: 1;
}
.btn {
  color: #222222;
  font-size: 15px;
  font-family: Open Sans;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 21px;
  padding: 10px 20px;
  text-transform: uppercase;
  border: none;
}
.btn-type-1 {
  background: #fff none repeat scroll 0 0;
  border-radius: 4px;
}
.btn-type-2 {
  background: #ffab00;
  color: #fff;
  border-radius: 4px;
}
.btn-type-4 {
  background: #de9d3c none repeat scroll 0 0;
  border: 1px solid #de9d3c;
  color: #e0e4ec;
  line-height: 25px;
  border-radius: 30px;
}

.btn-type-3 {
  border-radius: 0;
  background: #222;
  color: #fff;
  transition: all 0.3s;
}
.btn-type-5 {
  border: 1px solid #efefef;
  border-radius: 0;
  padding: 10px 35px;
}
.btn-type-5:hover,
.btn-type-3:hover {
  background: #ffab00;
  color: #e0e4ec;
}
.btn-type-2:hover,
.btn-type-1:hover {
  background: #fff none repeat scroll 0 0;
  color: #ffab00;
}

.header-top-area {
  background-color: #989cb8;
}
.header-top-social {
  display: inline-block;
  margin: 8px 0;
}
.tractor-lang {
  margin: 4px 0;
}
.tractor-lang select {
  background: transparent !important;
  width: 100px !important;
  border-radius: 0 !important;
  color: #e0e4ec !important;
  text-transform: capitalize;
  padding: 10px;
}
.header-middle-area sec-p-30{
    background-color: #fff;
}
.sec-p-30 {
    padding: 30px 0;
}
.tractor-lang option {
  background: #e0e4ec;
  color: #de9d3c;
  border-radius: 0;
  width: 100px;
  border-bottom: 1px solid #e0e4ec;
}
.tractor-lang option:last-child {
  border-bottom: transparent;
}
.header-top-social {
  display: inline-block;
  margin: 8px 0;
}
.header-top-social li {
  display: inline-block;
}
.header-top-social li a {
  color: #e0e4ec;
  padding: 0 10px;
  font-size: 20px;
}
.header-middle-short-info {
  margin: 7px 0;
}
.header-middle-short-info li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}
.header-middle-short-info li i {
  background: #de9d3c;
  color: #e0e4ec;
  width: 30px;
  height: 32px;
  text-align: center;
  vertical-align: middle;
  line-height: 32px;
  font-size: 18px;
  margin-right: 10px;
}
.header-middle-short-info li .short-info {
  font-size: 14px;
  font-family: Open Sans;
  text-transform: capitalize;
  color: #777777;
  font-weight: 400;
}
.header-middle-short-info li .short-info h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
}
.logo {
  width: 100px;
  border-radius: 7px;
}
.main-menu-area {
  position: absolute;
  top: -50px;
  width: 100%;
  z-index: 2;
}

/* search area css */
.header-search-bar {
  margin-top: -16px;
  position: absolute;
  right: 30px;
  top: 50%;
  color: #fff;
}
.header-search-bar:after {
  font-family: fontawesome;
  content: "\f002";
}
.header-search-bar:after {
  position: absolute;
  right: 15px;
  top: 5px;
  z-index: 1;
  color: #222;
}
.header-search-bar form {
  position: relative;
  z-index: 9;
}
.header-search-bar input[type="search"] {
  border: medium none;
  cursor: pointer;
  height: 40px;
  padding: 5px 15px;
  text-indent: -9999px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  width: 40px;
  background: none;
}
.header-search-bar input[type="search"]:focus {
  border: 1px solid #ddd;
  text-indent: 0;
  width: 200px;
  background: #fff;
  cursor: text;
}
/* main menu css */

nav.navbar.main-menu {
  margin: 0;
  padding: 0;
}
ul.navbar-nav {
  margin: 0;
  padding: 0;
}

ul.navbar-nav li.nav-item {
  margin: 0;
  padding: 0;
}

ul.navbar-nav li.nav-item a.nav-link {
  font-size: 16px;
  font-weight: 600;
  padding: 40px 13px;
  transition: all 0.3s ease 0s;
  line-height: 1.25;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  color: #222222;
}
.main-menu .navbar-nav .active > .nav-link {
  color: #ffab00 !important;
}
.main-menu .navbar-nav .nav-link:focus,
.main-menu .navbar-nav .nav-link:hover {
  color: #ffab00 !important;
}
.dropdown-menu {
  border-top: 3px solid #ffab00;
  margin: 0;
  padding: 0;
}

.dropdown-menu .dropdown-item {
  color: #666666;
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  padding: 13px 20px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}
.dropdown-menu .dropdown-item:hover {
  color: #fff;
  background: #ffab00;
}
.separet-divider {
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
[data-toggle="dropdown"]:after {
  font-family: "FontAwesome";
  font-weight: 900;
  content: "\f107";
}

.show [data-toggle="dropdown"]:after {
  content: "\f106";
}
.dropdown-toggle {
  display: flex;
}
.dropdown-toggle:after {
  border: none;
  margin-right: 15px;
}

button.navbar-toggler:focus {
  background: transparent;
}
.navbar-toggler {
  padding: 0.75rem 1rem;
}
.navbar-light .navbar-toggler {
  color: #fff;
  border-color: #fff;
}
.hero-area {
  position: relative;
  margin-top: 50px;
}
.main-menu-area {
  position: absolute;
  top: -50px;
  width: 100%;
  z-index: 2;
}
.bg-color3 {
  background: #fbfbfb !important;
}
.col-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #ffffff;
    transition: width .6s ease;
}
.progress-box .progress-bar {
    background: transparent;
    padding: 0;
    height: 25px;
   
}
.progress-box .addRectAnimate {
    background-color: rgb(160, 68, 140) !important;
}